# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bin

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
*.json

build_isolated/.built_by
devel_isolated/.built_by
